body{
    width:700px ;
    margin: 0 auto;
    background-image:url("./img/gehan.jpg");
    background-size: cover;
}
h1{
    color: white;
}
code{
    color: #27b2ba;
}
.head{
    color: white;
}
p{
    color: white;
}
dt{
    font: bold 15px/35px Georgia, serif;
}
.Box1{
    display: inline-block;
    width: 620px;
    height: 150px;
    border: 3px dotted black;
    background-color:#f0f0f0;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
}
.Box2{
    display: inline-block;
    width: 620px;
    height: 80px;
    border: 3px dotted black;
    background-color: #f0f0f0;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
}
.Box3{
    display: inline-block;
    width: 620px;
    height: 380px;
    border: 3px dotted black;
    background-color: #f0f0f0;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
}
.Box4{
    display: inline-block;
    width: 620px;
    height: 210px;
    border: 3px dotted black;
    background-color: #f0f0f0;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
}
.Box5{
    display: inline-block;
    width: 620px;
    height: 100px;
    color: white;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
}
.Box6{
    display: inline-block;
    width: 620px;
    height: 80px;
    border: 3px dotted black;
    background-color: #f0f0f0;
    padding: 8px 8px 8px 8px;
    margin-top: 14px;
    margin-bottom: 14px;
}